 <style>
        .items{
            height: 200px;
            width: 200px;
            border: 3px solid blueviolet;
            margin: auto;
            position: absolute;
            top: 200px;
            left: 600px;
        }
        #d1{
            left: 450px;
            top:50px;
            z-index: 1;
            background-image: url(../../Images/tech.jpg);
            background-size: cover;
        }
        #d2{
            top:50px;
            left: 750px;
            z-index: 2;
            background-image: url(../../Images/background.jpg);
            background-size: cover;
            background-color: green;
        }
        #d3{
            z-index: 20;
            background-image: url(../../Images/vv.png);
            background-size: cover;
            background-color: red;
        }
        #d4{
            top:350px;
            left: 450px;
            background-image: url(../../Images/banner.jpg);
            background-size: cover;
            background-color: black;
        }
        #d5{
            top:350px;
            left: 750px;
            background-image: url(../../Images/bg.jpg);
            background-size: cover;
            background-color: yellow;
        }
        #d1:hover{
            z-index: 50;
            box-shadow: 0px 0px 20px black;
        }
        #d2:hover{
            z-index: 50;
            box-shadow: 0px 0px 20px black;
        }
        #d3:hover{
            border-radius: 30%;
            z-index: 50;
            box-shadow: 0px 0px 20px black;
            
        }
        #d4:hover{
            z-index: 50;
            
            box-shadow: 0px 0px 20px black;
        }
        #d5:hover{
            z-index: 50;
            box-shadow: 0px 0px 20px black;
        }
        .color{
            height: 10px;
            width: 10px;
            
        }
       
    </style>